.formWrapper {
    .caption {
        font-weight: 700;
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.7);
        margin: 0 0 2.5rem 0;
    }
    .firstQues {
        font-weight: 700;
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.7);
        margin: 0 0 2rem 0;
    }
    .submitbtn {
        text-align: left;
        margin-top: 3.5rem;
        @media screen and (max-width:768px) {
            // position: absolute;
            // bottom: 32px;
            // right: 40px;
            text-align: right;
        }
        @media screen and (max-width:480px) {
            text-align: center;
        }
    }
    .error {
        // margin: 2.0625rem 0 0 1.25rem;
        color: red;
        position: absolute;
        bottom: 2.25rem;
        left: 31px;
    }
}