@mixin title {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0 0 1rem 0;
    word-break: break-word;
    @media screen and (max-width:480px) {
        font-size: 1.25rem;
    }
}
@mixin desc {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0;
    word-break: break-word;
    @media screen and (max-width:480px) {
        font-size: 1rem;
    }
}
.main {
    margin-top: 7.875rem;
    padding: 0 8%;
    @media screen and (max-width:768px) {
        margin-top: 3.75rem;
    }
    @media screen and (max-width:480px) {
        margin-top: 1.5rem;
    }
    .welcomeSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width:768px) {
            display: grid;
            >svg {
                width: 100%;
                text-align: center;
                margin-top: 1.6875rem;
                @media screen and (max-width:480px) {
                    transform: scale(0.7);
                }
            }
        }
        .leftContatiner {
            .welcomeTitle {
                @include title();
            }
            .welcomeDesc {
                @include desc();
                max-width: 36.5rem;
            }
        }
    }
    .buttons {
        display: flex;
        margin-top: 2.625rem;
        column-gap: 1rem;
        @media screen and (max-width:768px) {
            display: grid;
            row-gap: 1rem;
            padding: 0 12%;
        }
    }
    .giveAwaySec {
        margin-top: 4.3125rem;
        text-align: right;
        @media screen and (max-width:768px) {
            text-align: inherit;
        }
        .giveAwayTitle {
            @include title();
        }
        .giveAwayDesc {
            @include desc();
            margin-bottom: 2rem;
        }

        .giveAwaybtn {
            @media screen and (max-width:768px) {
                margin-left: 50%;
                transform: translate(-50%, 0);
            }
        }
    }
    .lastSec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;
        @media screen and (max-width:768px) {
            display: grid;
        }
        >svg {
            min-width: max-content;
            margin-bottom: 1.5rem;
            @media screen and (max-width:768px) {
                margin-left: 50%;
                transform: translate(-50%, 0)
            }
            @media screen and (max-width:480px) {
                transform: translate(-50%, 0) scale(0.5);
            }
        }
        .lastdesc {
            @include desc();
        }
    }
}