.modalWrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    background: transparent;
    top: 0;
    left: 0;
    overflow: scroll;
    background: #EBF9FF;
    animation: 0.2s show ease-out;
    z-index: 5;
    @keyframes show {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .modalBody {
        max-width: 41.3125rem;
        margin: 1.5rem 2.5rem 2rem 2rem;
        background: #EBF9FF;
    }
    .crossicon {
        position: absolute;
        top: .875rem;
        right: .875rem;
        cursor: pointer;
    }
}